<!-- Prevent direct access to .html file -->
<script>
    if(typeof app === 'undefined'){
        document.location.href='index.php';
    }
</script>

<section class="content-header">
	<h1>Dashboard</h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
     <div class="row">
     	
     	<div class="col-md-3 col-sm-6 col-xs-12">
          	<div class="info-box">
            	<span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
            	<div class="info-box-content">
              		<span class="info-box-text">Pengajuan</span>
              		<span class="info-box-number">-angka-<!-- <small>%</small> --></span>
            	</div>
          	</div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
          	<a href="./#/peraturan">
            	<span class="info-box-icon bg-red"><i class="fa fa-book"></i></span>
            </a>
            <div class="info-box-content">
              <span class="info-box-text">Peraturan</span>
              <span class="info-box-number">-angka-</span>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
		    <div class="info-box">
		        <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
		        <div class="info-box-content">
					<span class="info-box-text">Sales</span>
					<span class="info-box-number">-angka-</span>
		        </div>
		    </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
	        <div class="info-box">
	            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
	            <div class="info-box-content">
					<span class="info-box-text">New Members</span>
					<span class="info-box-number">-angka-</span>
	            </div>
	        </div>
        </div>

     </div>
</section>

<script>
	
</script>
