<!-- Prevent direct access to .html file -->
<script>
    if(typeof app === 'undefined'){
        document.location.href='index.php';
    }
</script>

<section class="content-header">
    <h1>Dashboard</h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
     	  <div class="col-md-3 col-sm-6 col-xs-12">
          	<div class="info-box">
              	<span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
              	<div class="info-box-content">
                		<span class="info-box-text">Pengajuan</span>
                		<span class="info-box-number">-angka-<!-- <small>%</small> --></span>
              	</div>
          	</div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              	<a href="./#/peraturan">
                	 <span class="info-box-icon bg-red"><i class="fa fa-book"></i></span>
                </a>
                <div class="info-box-content">
                    <span class="info-box-text">Penolakan</span>
                    <span class="info-box-number">-angka-</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
    		    <div class="info-box">
    		        <span class="info-box-icon bg-green"><i class="fa fa-book"></i></span>
    		        <div class="info-box-content">
          					<span class="info-box-text">Peraturan Final</span>
          					<span class="info-box-number">-angka-</span>
    		        </div>
    		    </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
  	        <div class="info-box">
  	            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
  	            <div class="info-box-content">
          					<span class="info-box-text">Pengguna</span>
          					<span class="info-box-number">-angka-</span>
  	            </div>
  	        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Penerbitan Peraturan</h3>
                </div>
                <div class="box-body">
                    <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Jenis Peraturan</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="chart-responsive"><canvas id="pieChart" height="150"></canvas></div>
                        </div>
                        <div class="col-md-4">
                            <ul class="chart-legend clearfix">
                                <li><i class="fa fa-circle-o text-red"></i> Chrome</li>
                                <li><i class="fa fa-circle-o text-green"></i> IE</li>
                                <li><i class="fa fa-circle-o text-yellow"></i> FireFox</li>
                                <li><i class="fa fa-circle-o text-aqua"></i> Safari</li>
                                <li><i class="fa fa-circle-o text-light-blue"></i> Opera</li>
                                <li><i class="fa fa-circle-o text-gray"></i> Navigator</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
